/* Autor: Camilo Figueroa ( Crivera ) 23/10/2016 */

body
{
	font-family: Tahoma;
    color: black;
    font-size: 15px;
}

/* Este es el contenedor de todo*/
#gran-contenedor
{
	border: none;
}

#contenedor-textos-letras
{
	position: absolute;
	top: 28%;
	left: 42%;
	margin-top: 20px;
	margin-left: 10%;
	padding: 5px;
}

#contenedor-imagen
{
	/*color: white;*/
	/*border: solid 1px;*/
	padding-top:30px;
	max-width: 301px;
	min-height: 300px;
	margin-left: 10%;
	text-align: justify;
	/*background-color: black;*/
}

.imagen-personaje
{
	width: 100%;
}

.texto-entrada
{
    font-size: 20px;
    text-align: center;
    font-family: 'tahoma';
}

#contenedor-teclado
{
	display: none;
	position: absolute;
	left: 50%;
	top: 35%;
	text-align: center;
	max-width: 400px;
	margin: 50px;
}

.botonera
{
	font-size: 25px;
}

#contenedor-navegacion-grande
{
	text-align: center;
	width: 100%;
}

#boton-empezar
{
	font-size: 50px;
}

#contenedor-ranking
{
	border: none;
	margin-top: 3%;
	padding-left:20px
}

#boton-ranking
{
	visibility: hidden;
}

#boton-actualizar
{
	visibility: hidden;
}

#contenedor-formulario-datos
{
	/*position: absolute;*/
	padding: 10px;
	/*width: 450px;*/
	text-align: center;
	/*left: 30%;*/
	/*top: 10%;*/
	border: none;
}

#contenedor-temporizador
{
	position: absolute;
	top: 18%;
	left: 80%;
	padding: 5px;
	width: 200px;
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 5px;
}
#img1{
	width: 60%;
	height: auto;
}
#img2{
	width: 30%;
	height: auto;
}
